{{! Footer partial template}}
<footer id="footer-nview">
	<section id="widgets-area-a" class="widgets-area"></section>
	<section id="bottom-footer">
		<p id="bottom-copyright">&copy; {{date format="YYYY"}}, {{@blog.title}} Northview Theme by <a href="#">Aftertype</a>. Powered by <a href="//ghost.org">Ghost</a>.</p>
	</section>
</footer>