{{!< default}}
{{! Top line inserts this template on main layout}}

{{! Error template }}
<main id="main-post-human">
	<article>
		<section id="error-page-human">
			<h1>{{code}}</h1>
			<h2>Oops! {{message}}</h2>

			<a class="back-home-link" href="{{@blog.url}}">&larr; Go to home</a>
		</section>
	</article>
</main>
