{{! Footer partial template}}
<footer id="footer-human">
	<section id="widgets-area-b" class="widgets-area"></section>
	<section id="bottom-footer">
		<p id="bottom-copyright">&copy; {{date format="YYYY"}}, {{@blog.title}}. Human Theme by <a href="#">Aftertype</a>. Powered by <a href="//ghost.org">Ghost</a>.</p>
	</section>
</footer>