<!-- start widget -->
<div class="widget text">
	<h4 class="title">About</h4>
	<div class="content">
		<p style="margin-bottom:10px;">One day I decided to teach myself Python followed by Django. Since then I've become a Quality Engineer for a reputable start up in San Francisco!</p>
		<p>Prior to Engineer life, I lived in the Phoenix area, Atlanta (Southside), and Virginia (Norfolk, VA Beach); it's worth noting that most people call me by my rap name, "N.O.V."</p>
	 </div>
</div>
<!-- end widget -->
