<!-- start widget -->
<div class="widget">
	<h4 class="title">{{t "Follow"}}</h4>
	<div class="content">
		<ul class="social">
			<!-- start social links -->
			<!-- replace the # with your own profile link address -->
			<li><a href="https://medium.com/@courtneyhurt" target="_blank" rel="noopener"><i class="fab fa-medium-m"></i></a></li>
			<li><a href="https://twitter.com/nativeofva" target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a></li>
			<!--<li><a href="https://plus.google.com/communities/106724509785464667119"><i class="fab fa-google-plus-g"></i></a></li>-->
			<li><a href="https://www.linkedin.com/in/courtney-hurt-2a47058" target="_blank" rel="noopener"><i class="fab fa-linkedin"></i></a></li>
			<!--<li><a href="#"><i class="fa fa-skype"></i></a></li>
			<li><a href="#"><i class="fa  fa-pinterest"></i></a></li>
			<li><a href="#"><i class="fa fa-youtube"></i></a></li>
			<li><a href="#"><i class="fa fa-vimeo-square"></i></a></li>
			<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
			<li><a href="#"><i class="fa fa-flickr"></i></a></li>-->
			<li><a href="https://nativeofva-blog.tumblr.com/" target="_blank" rel="noopener"><i class="fab fa-tumblr"></i></a></li>
			<li><a href="https://github.com/churt-zenefits" target="_blank" rel="noopener"><i class="fab fa-github"></i></a></li>
			<li><a href="https://www.instagram.com/lastnamehurt/" target="_blank" rel="noopener"><i class="fab fa-instagram"></i></a></li>
			<li><a href="https://stackoverflow.com/users/7281847/courtney-hurt" target="_blank" rel="noopener"><i class="fab fa-stack-overflow"></i></a></li>
			<!--<li><a href="#"><i class="fa fa-stack-exchange"></i></a></li>
			<li><a href="#"><i class="fa fa-xing"></i></a></li>-->
			<!--<li><a href="#"><i class="fa fa-envelope"></i></a></li>-->
			<li><a href="{{@blog.url}}/rss/" target="_blank" rel="noopener"><i class="fas fa-rss"></i></a></li>
			<!-- end social links -->
		</ul>
	</div>
</div>
<!-- end widget -->
